<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <connectionstrings xdt:transform="Replace">
    <add name="AllMyBioDbEntities" connectionString="metadata=res://*/Models.OBDataSources.AllMyBioEntityDataModel.csdl|res://*/Models.OBDataSources.AllMyBioEntityDataModel.ssdl|res://*/Models.OBDataSources.AllMyBioEntityDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;password=6HYhnReaderSfjRlfx;persistsecurityinfo=True;user id=allmy_usr_r;server=209.59.181.201;database=allmy_db&quot;" providerName="System.Data.EntityClient" />
    <add name="OrgBubbleDbEntities" connectionString="metadata=res://*/Models.OBDataSources.OrgBubbleEntityDataModel.csdl|res://*/Models.OBDataSources.OrgBubbleEntityDataModel.ssdl|res://*/Models.OBDataSources.OrgBubbleEntityDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=209.59.181.201;user id=orgbubble_produsr_r;password=QAi8fVyReaderEdpz3GlW8QG;persistsecurityinfo=True;database=orgbubble_OBPROD&quot;" providerName="System.Data.EntityClient" />
  </connectionstrings>

    
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
